cardWidth := 100px
cardHeight := 100px
kinds = "bastoni" "spade" "coppe" "denari"

cardOf(kind, n, x, y) {
  .card_{kind}_{n} {
    background-position: x y;
  }
}

cardsOf(kind, y) 
  for num in 1..10
    cardOf(kind, num, (1 - num)*cardWidth, y)

allCards()
  for kind, i in kinds
    cardsOf(kind, (- i)*cardHeight)

.card {
  height:cardHeight;
  width:cardWidth;
  background-image: url(cards.jpg);
  background-size: 1000px 400px;
}  

allCards()

.cards {
  display: flex;
  flex-direction:row;
  align-items: stretch;
  width:board-width;
}

.cards>div {
  padding:20px;
  flex: 1;
  background-color: limegreen;
  text-align: center;
}

.cards span {
  margin-top:10px;
  text-align: center;  
}

.cards>div:last-child {
  flex: 1;
}  

.cards span {
  display:block;
}

.card-back {
  background-image: none;
  border: 10px solid white;
  background-color: brown;
}

.card-empty {
  background-image: none;
  border: 1px dashed yellow;
}

.card-half {
  height: 50px;
  padding:0 0 0 0;
  margin:0 0 0 0;
}