seeds = "bastoni" "spade" "coppe" "denari"
number-of-cards-per-seed := 10
number-of-seeds := length(seeds)

card-width := 100px
card-height := 100px
cards-image-url := "cards.jpg"
cards-image-width := card-width * number-of-cards-per-seed
cards-image-height := card-height * number-of-seeds

cardOf(seed, n, x, y) {
  .card_{seed}_{n} {
    background-position: x y;
  }
}

cardsOf(seed, y)
  for num in 1..10
    cardOf(seed, num, (1 - num)*card-width, y)

allCards()
  for seed, i in seeds
    cardsOf(seed, (- i)*card-height)

.card {
  height:card-height;
  width:card-width;
  background-image: url(cards-image-url);
  background-size: cards-image-width cards-image-height;
}

allCards()

.cards {
  page-item();
  display: flex;
  flex-direction:row;
  align-items: stretch;
}

.cards>div {
  padding:20px;
  flex: 1;
  background-color: limegreen;
  text-align: center;
}

.cards span {
  margin-top:10px;
  text-align: center;
}

.cards>div:last-child {
  flex: 1;
}

.cards span {
  display:block;
}

.card-back {
  background-image: none;
  border: 10px solid white;
  background-color: brown;
}

.card-empty {
  background-image: none;
  border: 1px dashed yellow;
}

.card-half {
  height: (card-height / 2);
  padding:0 0 0 0;
  margin:0 0 0 0;
}