.games-nav {

  text-align:center;
  width:board-width;

  span {
    display:inline-block;
    margin-top:10px;
    margin-bottom:10px;
    padding:10px;
    border:1px solid black;
    color:black;
  }
  
  span.selected {
    background-color:red;
    color:white;
  }

}