.event-log {
  height:150px;
  width:600px;
  overflow-y: auto;
  color: white;
  line-height: 18px;
  vertical-align:middle;

  &>div {
    min-height:30px;
  }
  &>div:nth-child(even) {
    background-color:#303030
  } 
  &>div:nth-child(odd) {
    background-color:#494848
  } 
}